<h1 class="title"><center><strong><u>Welcome to my Bog</u></strong></center></h1>

<p class="description">A bog is a mire that accumulates peat, a deposit of dead plant material—often mosses, and in a majority of cases, sphagnum moss. It is one of the four main types of wetlands. Other names for bogs include mire, quagmire, and muskeg; alkaline mires are called fens. They are frequently covered in ericaceous shrubs rooted in the sphagnum moss and peat. The gradual accumulation of decayed plant material in a bog functions as a carbon sink.</p>

<h3><center><strong>Now that you know more about Bog's lets start Blogging about Bog's! Add a new creature <%= link_to "here", new_creature_path %> or click on the link above! <strong></center></h3>

