<div class="container col-offset-md-2 col-md-8 col-offset-md-2">
  <h1>We keep track of your creatures.</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-12"><a href="#1"><img src="http://1.bp.blogspot.com/-ZXPliMrzSMY/VYgzW-OlFKI/AAAAAAAAAOc/HNQVRFj_Xqw/s640/Pale_Man.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><a href="#1"><img src="http://images-cdn.moviepilot.com/image/upload/c_scale,h_905,w_791/t_mp_quality/tyig8nm-maleficent-super-creepy-creatures-concept-art-jpeg-81678.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><a href="#1"><img src="https://s-media-cache-ak0.pinimg.com/736x/7a/53/5d/7a535d59a0816741fbb4e7cf725c8a37.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><a href="#1"><img src="http://cdn.emgn.com/wp-content/uploads/2014/03/Crazy-Sea-Creatures-9-Chimaera.png" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><a href="#1"><img src="https://i.ytimg.com/vi/nDpK4UygELU/hqdefault.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><a href="#1"><img src="http://cdn.movieweb.com/img.news.tops/NEKKv2TiN6I5NT_2_b.jpg" class="img-responsive"></a></div>
          </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div>
  <h3 class="center col-offset-md-2 col-md-8 col-offset-md-2">
    We care, but not too much, about local creatures. We just want to keep track of them. Feel free to edit each creature's current location so we can keep track.
  </h3>
</div>