<h1> Known Creatures: </h1>

<% @creatures.each do |creature| %>
  <h2><a href="/creatures/<%= creature.id %>"><%= creature.name %></a></h2>
  <h4><%= creature.desciption %></h4>
  <h4><%= creature.location %></h4>
<% end %>

