
<div class="col-md-offset-2 col-md-10">
  <h1>The Creature you just Logged</h1>
</div>

<div class="col-md-offset-2 col-md-10">
  <h4>Species: <%= @creature.species %></h4>
  <p><b>Location:</b> <%= @creature.location %></p>
  <p><b>Description:</b> <%= @creature.description %></p>
</div>