<center><h1>Look at all my CREATURES!</h1></center>

<center><%= link_to "Go back to CREATURES!", creatures_path %></center>
<center><h2> <%= @creature.name %> </h2></center>
<center><p> <%= @creature.description %> </p></center>
